<table class="table table-bordered" id="empl-table">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Возраст</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.SurName
            </td>
            <td>
                @item.Patronymic
            </td>
                    
            <td>
                @item.Age
            </td>
            <td>
                <a asp-controller="Employees" asp-action="EmployeeData" asp-route-id="@item.Id">Подробнее</a>
            </td>
            <td>
                <a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
            </td>
            <td>
                <a asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
    
<a asp-controller="Employees" asp-action="Create">Добавить нового сотрудника</a>