@model WebStore.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.FirstName @Model.SurName</title>
</head>
<body>
    <div>
        <p>@Model.FirstName</p>
        <p>@Model.SurName</p>
        <p>@Model.Patronymic</p>
        <p>@Model.Age</p>
        <a href="~/Home/Employee">Back</a>
    </div>
</body>
</html>